<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Template HTML CSS Vue</title>

        <!--boostrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!--font-awsome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
        <!-- Importazione Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <!--app vue-->   
        <div id="app">
            <!--header di sfondo-->
            <header>

            </header>
            <!--fine header di sfondo-->
            <!--inizio main di sfondo-->
            <main>
                <div class="container app">
                    <div class="row g-0 h-100 border">
                        <div class="col-4 h-100 d-flex flex-column">
                            <section class="header-app d-flex justify-content-between align-items-center">
                                <div class="container-avatar">
                                    <img src="./img/avatar_io.jpg" alt="sofia">
                                </div>
                                <div class="flex-grow-1"> 
                                    Sofia
                                </div>
                                <div>
                                    <i class="fa-solid fa-circle-notch fa-xl p-2"></i>
                                    <i class="fa-solid fa-message fa-xl p-2"></i>
                                    <i class="fa-solid fa-ellipsis-vertical fa-xl p-2"></i>
                                </div>
                            </section>
                            <div class="notification d-flex align-items-center">
                                <div class="container-avatar bg-white belt ms-3">
                                    <i class="fa-solid fa-bell-slash fa-xl"></i>
                                </div>
                                <div>
                                    <div>
                                        Ricevi notifiche di nuovi messaggi
                                    </div>
                                    <div>
                                        <a href="">
                                            Attiva notifiche desktop
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <section class="address-book flex-grow-1">
                                <div class="search-chat">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text rounded-start-1"><i class="fa-solid fa-magnifying-glass"></i></span>
                                        <input type="text" class="form-control rounded-end-1 " placeholder="Cerca o inizia una nuova chat" @keyup="searchContact()" v-model="whoFind">
                                      </div>
                                </div>
                                <ul>
                                    <li v-for="(contact, i) in contacts"  :class="(i==activeContact)? 'active':''" @click="activeContact=i">
                                        <div v-if="(contact.visible==true)" class = "d-flex justify-content-between">
                                            <div class="container-avatar">
                                                <img :src="contact.avatar" :alt="contact.name">
                                            </div>
                                            <div class="flex-grow-1">
                                                {{contact.name}}
                                            </div>
                                            <div>
                                                12.00
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-8 h-100 d-flex flex-column">
                            <section class = "header-app d-flex justify-content-between align-items-center">
                                <div class = "container-avatar">
                                    <img :src="contacts[0].avatar" alt="">
                                </div>
                                <div class = "flex-grow-1">
                                    {{contacts[0].name}}
                                </div>
                                <div>
                                    <i class="fa-solid fa-magnifying-glass fa-xl p-2"></i>
                                    <i class="fa-solid fa-paperclip fa-xl p-2"></i>
                                    <i class="fa-solid fa-ellipsis-vertical fa-xl p-2"></i>
                                </div>
                            </section>
                            <section class="main-app flex-grow-1 p-3">
                                <div class="row g-0">
                                    <div v-for="(elem, i) in contacts[activeContact].messages" class="col-12 mb-3 d-flex" :class="{
                                        'justify-content-end': contacts[activeContact].messages[i].status =='sent'
                                    }" >
                                        <div class="card-message" :class="(contacts[activeContact].messages[i].status =='sent') ? 'sent':'received' " >
                                            {{contacts[activeContact].messages[i].message}}
                                            <div class="card-option p-3">
                                                <div class="border-bottom pb-1 mb-1">Message info</div>
                                                <div class="" @click="deleteMessage(i)">Delete message</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </section>
                            <section class="footer-app d-flex justify-content-between align-items-center">
                                <div class="p-3">
                                    <i class="fa-regular fa-face-smile fa-xl"></i>
                                </div>
                                <div class="flex-grow-1">
                                    <input type="text" name="" class="w-100 form-control rounded-end-1" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage()">
                                </div>
                                <div class="p-3">
                                    <i class="fa-solid fa-microphone fa-xl"></i>
                                </div>
                            </section>
                        </div>
                    </div>
    
                </div>
            </main>
            <!--fine main di sfondo-->
        </div>
        <!-- Mio Script -->
        <script src="js/scripts.js" type="text/javascript"></script>
    </body>
</html>